.home-container {
  width: 100%;
  height: 140vh;
  background-color: rgba(28, 7, 109, 0.863);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(10px);
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: #f0f5f7;
  text-transform: capitalize;
  text-shadow: lawngreen 20px;
  /* width: 100px; */
}

.home-description {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #8fd823;
}

.home-button {
  font-size: 1.4rem;
  margin: 0 1rem;
  background-color: #eedfdf;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease;
}

.home-button-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.home-image {
  width: 350px;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 20%;
  margin-bottom: 2rem;
}

.home-button:hover {
  background-color: #ddcbcb;
}
