@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);

.navbar {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  align-items: center;
  /* justify-content: space-between;  */
  /* height: 100px; */
}

/* .custom-btn {
  background-color: #ff0000;
  color: #fff;
  border: none;
} */

.navbar-nav .nav-link {
  color: #60cce2;
  font-weight: 800;

  margin: 5px;
}

.nav-links {
  padding: 1px;
  margin: 4px;
}
button {
  --c: #ff0000;
  font-size: 50px;
  box-shadow: 0 0 0 0.1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
  outline-offset: 0.1em;
  transition: background-size 0.4s, background-position 0s 0.4s;
}
button:hover {
  --_p: 100%;
  transition: background-position 0.4s, background-size 0s;
}
button:active {
  box-shadow: 0 0 9e9Q inset #0009;
  background-color: var(--c);
  color: #fff;
}
button {
  font-family: system-ui, sans-serif;
  font-size: 3.5rem;
  cursor: pointer;
  padding: 0.1em 0.6em;
  font-weight: bold;
  border: none;
}
